<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div>
      <h2>Sign in</h2>
      <form method="POST" action="/login">
         {{form.hidden_tag()}}
         <div>
            {{form.email.label}}<br>
            {{form.email}}
         </div>
         <div>
            {{form.password.label}}<br>
            {{form.password}}
         </div>
         <div>
            {{form.submit}}
         </div>
      </form>
        <p>Don't have an account? <a href="{{url_for('create_account')}}">Create one</a></p>
     </div>     
</body>
</html>